* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(81, 202, 172);
}

.calculator {
    background-color: rgba(1, 121, 91, 0.521);
    border: 2px black solid;
    border-radius: 20px;
    padding: 10px;
}

.shadow {
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.display-container {
    display: flex;
    flex-direction: row;
}

.display {
    flex: 1;
    min-height: 88px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
    border-radius: 5px;
}

.display-previous, .display-current {
    max-width: 164px;
    margin: 5px;
    text-align: end;
}

.display-previous {
    height: 24px;
    font-size: 24px;
    font-weight: lighter;
}

.display-current {
    font-size: 36px;
    overflow-wrap: break-word;
}

button {
    font-size: 36px;
    height: 56px;
    width: 56px;
    box-sizing: border-box;
    margin: 2px;
    border: 1px black solid;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(251, 255, 192);
}
button:active {
    background-color: rgb(208, 211, 172);
}

.button-operator {
    background-color: rgb(217, 195, 238);
}

.button-operator:hover {
    background-color: rgb(255, 129, 255);
}

.button-operator:active {
    background-color: rgb(212, 105, 212);
}

.display-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.display-button {
    flex: 1;
    height: auto;
    font-size: 24px;
    max-height: 54px;
}

.display-button:hover {
    background-color: lightgrey;
}

.display-button:active {
    background-color: grey;
}

.buttons-row {
    display: flex;
    flex-direction: row;
}